.btn.btn-primary {
    border-color: #3482f6;
    background-color: #3482f6;
    padding: 0px 13px 0px 30px;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}


.btn.btn-primary:link {
    border-color: #3482f6;
    background-color: #3482f6;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}


.btn.btn-primary:hover {
    background-color: #0a62e4;
    border-color: #0a62e4;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

.btn.btn-primary:visited {
    background-color: #0a62e4;
    border-color: #0a62e4;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

.btn.btn-primary:focus {
    background-color: #0a62e4;
    border-color: #0a62e4;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

.btn.btn-primary.loading {
    background-color: #0a62e4;
    border-color: #0a62e4;
    border-radius: 20px;
    background-image: none;
}

.btn.btn-primary.loading:link {
    border-color: #3482f6;
    background-color: #3482f6;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

.btn.btn-primary.loading:visited {
    border-color: #3482f6;
    background-color: #3482f6;
    border-radius: 20px;
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/post6.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}


.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 0.05rem solid #3482f6;
    border-radius: 20px;
    color: #3482f6;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    height: 1.8rem;
    line-height: 1.2rem;
    outline: none;
    padding: 0.25rem 0.4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s, border .2s, box-shadow .2s, color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:active{
    border-color: #3482f6;
    background-color: #3482f6;
    color: #FFFFFF;
}

/* フォローボタンにアイコンが表示されてしまう問題を修正 */
.column.col-auto > .btn.btn-primary {
    background-image: none;
    padding: 0px 13px 0px 13px;
}

.btn.btn-primary.mr-2:first-child{
    background-image: none;
    padding: 0px 13px 0px 13px;
}



/* Refresh button Design */
button.btn.btn-secondary.col-ml-auto {
    border-color: #3482f6;
    background-color: #fff;
    color: #3482f6;
    border-radius: 20px;
}

button.btn.btn-secondary.col-ml-auto:hover {
    background-color: #0a62e4;
    border-color: #0a62e4;
    border-radius: 20px;
    color: #fff;
}

/* Search button Design */
.input-group .form-input:last-child:not(:first-child),
.input-group .form-select:last-child:not(:first-child),
.input-group .input-group-addon:last-child:not(:first-child),
.input-group .input-group-btn:last-child:not(:first-child) {
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/search1.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

/* Take off button Design */
button[type="submit"]:last-child {
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/take_off1.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

button[type="submit"]:last-child:hover {
    background-image: url("https://raw.githubusercontent.com/louiscnovel2/skylight-bluesky-style/main/src/take_off1.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 5px center;
}

/* Logout button Design */
.btn.btn-link {
    background: transparent;
    border-color: transparent;
    border-radius: 20px;
    color: #3482f6;
}

/* 横スクロールを禁止する */
html,body{
    overflow-x: hidden;
}

/* 投稿フォームを角丸にし、線の色を変える */
.input-group .form-input, .input-group .form-select{
    border-radius: 13px;
    border-color: #3482f6;
}

/* 選択されているメニューの色を変える */
.tab .tab-item.active a, .tab .tab-item a.active{
    border-bottom-color: #3282f6;
    color: #3282f6;
}

/* タイムラインの横幅の最大値を変更 */
/*
main[data-v-6261e796] {
    max-width: 750px;
    margin: auto;
}
*/

/* 自分のプロフィールページにフォローボタンが表示されてしまう問題を修正 */
/*
.column.col-auto > .btn.btn-primary{
    display: none;
}
*/

